@use '../mixin/variables' as *;
@use '../mixin/font' as *;
@use '../mixin/btn' as *;
@use '../mixin/animation' as *;
@use '../mixin/over' as *;

// =============================================== 
// ヘッダー  
// =============================================== 

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.342);
    z-index: 20;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

// ハンバーガーメニュー押したとき
.open {
    .overlay {
        opacity: 1;
        visibility: visible;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease;
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    img {
        filter:
            drop-shadow(0 0 8px rgba(0, 0, 0, .35)) drop-shadow(0 0 2px rgba(0, 0, 0, .35));
        width: 15rem;
        height: 15rem;
        border-bottom-right-radius: 20px;

        @include pc {
            width: 10rem;
            height: 10rem;
        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;

        @include tab {
            display: none;
        }
    }

    &__item {
        margin-right: 5rem;
    }

    &__link {
        color: $textcolor-header;
        font-size: 2rem;
        text-shadow:
            0 0 8px rgba(0, 0, 0, .45),
            0 0 2px rgba(0, 0, 0, .35);
        @include subtitle;
        @include underline-hover($textcolor-header);
    }
}

.hamburger {
    display: none;
    position: relative;
    z-index: 35;
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    /*   0.5秒かけて変化させる */
    transition: all 0.5s;

    @include tab {
        display: block;
    }

    /*ハンバーガーメニューの線の設定（メニューが閉じている時）*/
    span {
        position: absolute;
        display: inline-block;
        width: 50%;
        height: 2px;
        background-color: $textcolor-sub;
        transition: all 0.5s;
        box-shadow:
            0 0 8px rgba(0, 0, 0, .45),
            0 0 2px rgba(0, 0, 0, .35);
        left: 50%;
        transform: translateX(-50%);

        &:nth-child(1) {
            top: 36%;
        }

        &:nth-child(2) {
            top: 50%;
        }

        &:nth-child(3) {
            top: 64%;
        }
    }

}

// ハンバーガーメニュー押したとき
.open {
    .hamburger {
        span {
            background-color: $textcolor-nav;

            box-shadow: none;

            &:nth-child(1) {
                top: 50%;
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(45deg);
                top: 50%;
            }
        }
    }
}

/* ===============================================
ハンバーガーメニューが押されたときのメニュー
=============================================== */
.menu {
    position: fixed;
    top: 0;
    right: -50rem;
    width: 79.5%;
    height: 100vh;
    padding: 15rem 7rem 7rem;
    transition: all 0.5s;
    z-index: 30;
    opacity: 0;
    pointer-events: none;
    color: $textcolor-nav;
    background: rgba(255, 255, 255, 0.8);

    &__list {
        margin-bottom: 7rem;
    }

    &__item {
        margin-bottom: 4rem;
    }

    &__link {
        color: $textcolor-nav;
        @include title;
        font-size: 3.5rem;
        display: block;

        &:hover {
            opacity: 0.7;
        }

    }

    &__subitem {
        font-size: 2.5rem;
        margin-block: 0.6rem;
        @include subtitle;
        padding-left: 3.5rem;
    }

    &__sublink {
        color: $textcolor-nav;
    }

    &__sns {
        margin-top: 4rem;
        font-size: 3rem;

        .fa-brands {
            color: $textcolor-nav;
            margin-right: 5rem;
        }
    }
}

/*
ハンバーガーメニュー
メニューが開いている時は、「left: 0;」「opacity: 1;」で
画面左に表示する
*/
.open .menu {
    /* display: block; */
    right: 0;
    opacity: 1;
    pointer-events: auto; // ← ★メニューが開いたときはクリックできるように
}

.mask {
    opacity: 0;
    transition: 0.5s;
    right: -50rem;
    position: fixed;
    top: 0;
}

/*
メニューを開いている時は、全体を黒背景にする
*/
.open .mask {
    /* display: none;から出現 */
    // display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 80rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 25;
    opacity: 0.8;
    cursor: pointer;

    &--jn {
        background: rgba(25, 6, 68, 0.8);
    }
}