$maincolor: #E1F3F4;
$secondcolor: #BAE4E7;
$thirdcolor: #A2D1D4;
$backgroundcolor: #FFFFFF;
$backgroundbler: #455e6542;
$backgroundbler-article: #ffffffa1;
$maincolor-journal: #E1E5F4;
$secondcolor-journal: #BAC5E7;
$textcolor-main: #000000;
$textcolor-sub: #FFFFFF;
// $textcolor-nav: #378cbd;
$textcolor-header: #FFFFFF;
$textcolor-nav: #1C8093;
$textcolor-footer: #F3F0E8;
$textcolor-journal: #1A2748;
$textcolor-journal-sub: #354976;
$textcolor-contact: #30657D;
$btncolor-cta: #124E74;
// $btncolor-cta: #299EBF;
$componentcolor-info: #7DAAAE;
$componentcolor-info-jouranal: #7D88AE;
$footer-background: #A68561;