@use '../mixin/variables' as *;
@use '../mixin/font' as *;
@use '../mixin/btn' as *;
@use '../mixin/animation' as *;
@use '../mixin/over' as *;




// -----------------------------------------------
// voice
// -----------------------------------------------

.voice {
    background-color: $secondcolor;

    &__wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__card {
        width: 100%;
        padding-block: 4rem;
        display: flex;
        justify-content: center;
    }

    &__inner {
        max-width: 900px;
        width: 100%;
        display: flex;
        gap: 4rem;
        cursor: pointer;
    }

    &__img {
        width: 50%;
        border-radius:1rem // img{
        // }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        background-color: $backgroundcolor;
        padding-inline: 3rem;
        // height: 100%;
        border-radius: 1rem
    }

    &__title {
        margin-bottom: 10px;
        border-bottom: 1px solid #333;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    &__author {
        font-size: 0.9rem;
        text-align: right;
        font-weight: bold;
    }

    &__button {
        text-align: center;
        padding-block: 30px;
    }

}



@media screen and (max-width: 768px) {
    .voice {
        &__title {
            font-size: 1.4rem;
        }

        &__text {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .voice {
        &__title {
            font-size: 1.2rem;
        }

        &__text {
            font-size: 1rem;
        }
    }

}