@use '../mixin/variables' as *;
@use '../mixin/font' as *;
@use '../mixin/btn' as *;
@use '../mixin/animation' as *;
@use '../mixin/over' as *;




// -----------------------------------------------
// voice
// -----------------------------------------------
.voice-slider {
    position: relative;
    width: 100%;
}

.voice__wrapper.slider {
    padding: 40px 0;
}




.voice {
    background-color: $secondcolor;

    &__card {
        background: $backgroundcolor;
        padding: 30px;
        width: 20rem;
        // height: 25rem;
        margin-inline: 50px;
        // display: inline-block;
        position: relative;
    }

    &__title {
        margin-bottom: 10px;
        border-bottom: 1px solid #333;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: 1.6rem;
        margin-bottom: 20px;
        line-height: 1.6;
    }

    &__author {
        font-size: 0.9rem;
        text-align: right;
        font-weight: bold;
    }

    &__button {
        text-align: center;
        padding-block: 30px;
    }

}

/* 少しずらしたボックス */
.voice__card {
    /* カードの見た目（お好みで） */
    margin: 0 5rem 2rem;
    /* 外側の余白（上下と中央配置） */
    padding: 2.4rem;
    /* 内側余白 */
    background: none;
    /* 元のボックス背景色なし */
    border: 1px solid #1e4972d2;
    /* 線の太さ（1px）、種類（実線）、色（#ccc） */
    position: relative;

    /* 配置（基準となる位置） */
    &:after {
        background-color: #e7fcfc;
        /* ずらしたボックスの背景色 */
        border: none;
        /* 枠線なし */
        content: '';
        /* 擬似要素にコンテンツなし */
        position: absolute;
        /* 配置（ここを動かす） */
        top: 7px;
        /* 上から7pxずらす */
        left: 7px;
        /* 左から7pxずらす */
        width: 100%;
        /* 幅100%（親要素に合わせる） */
        height: 100%;
        /* 高さ100%（親要素に合わせる） */
        z-index: -1;
        /* 背景として後ろに表示 */
    }

    /* pタグの余白 */
    p {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .voice {
        &__title {
            font-size: 1.4rem;
        }

        &__text {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 480px) {
    .voice {
        &__title {
            font-size: 1.2rem;
        }
        &__text {
            font-size: 1rem;
        }
    }
    
}