@use '../mixin/variables' as *;
@use '../mixin/font' as *;
@use '../mixin/btn' as *;
@use '../mixin/animation' as *;
@use '../mixin/over' as *;

// 背景のマスク
.bg-mask {
    background-color: rgba(0, 0, 0, 0.3);
}

// side
.side {
    position: fixed;
    top: 16rem;
    left: 0;
    width: 18rem;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.3);

    @include pc {
        display: none;
    }

    .sideway {
        padding-top: 5rem;
        text-orientation: sideways;
        writing-mode: vertical-rl;
        color: $textcolor-sub;
        font-size: 15rem;
        letter-spacing: 3rem;
        font-weight: 100;
    }
}

//全体中央寄せ
.article-wapper {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 7rem;

    @media screen and (min-width: $breakpoint-pc) {
        padding-left: 10rem;
    }

    @include tab {
        max-width: 70rem;
    }
}

// face
.face {
    width: 100%;
    height: 110vh;
    // text-align: center;
    align-content: center;
    position: relative;

    &__wrapper {
        // width: 50%;
        color: $textcolor-sub;
        position: relative;
        z-index: 2;

        // @include 
        &-top {
            text-align: left;
            margin-bottom: 142px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -5%;
                top: -10%;
                background: $textcolor-sub;
                width: 2px;
                height: 130%;
            }
        }

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hashtag {
                font-size: 2.4rem;
                font-weight: 500;
                border: 1px solid $textcolor-sub;
                border-radius: 28px;
                padding: 10px 20px;
                letter-spacing: 10px;
            }

            .date {
                font-size: 3.6rem;
            }
        }
    }

    &__title {
        font-size: 6rem;
        @include heading-bold;
        margin-bottom: 7.4rem;
    }
}


.episode {
    // position: relative;
    color: $textcolor-sub;
    .story {
        margin-bottom: 18rem;

        &__heading {
            @include heading-bold;
            font-size: 4rem;
            margin-bottom: 4rem;
        }

        &__text {
            font-weight: lighter;
            font-size: 2.4rem;
            line-height: 1.75;
            margin-bottom: 3rem;
        }
    }
}
