@use '../mixin/variables' as *;
@use '../mixin/font' as *;
@use '../mixin/btn' as *;
@use '../mixin/animation' as *;
@use '../mixin/over' as *;



// =============================================== 
// ピックアップ 
// =============================================== 
.pickup {
    background-color: $maincolor;
    position: relative;
    overflow: hidden;

    &__title {
        font-size: 2.4rem;

        &--large {
            font-size: 5rem;
            @include subtitle;
        }

        display: flex;
        align-items: center;
    }



    &__img {
        width: 100%;
        object-fit: cover;
        height: 70%;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
    }

    &__textbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .arrow {
            @include arrow(right, 2em, 0.2em);
        }
    }

    &__text {
        font-size: 2rem;
        @include underline-hover();
    }

    .pickup-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: box-shadow .15s ease, transform .15s ease;
        background-color: $backgroundcolor;
        border-radius: 12px;
border: 1px solid white;
        &:hover {
            box-shadow: none !important;
            transform: translate(1rem, 1rem);
        }
    }

    .pickup-link:hover .pickup__text::after {
        width: 100%;
    }
}




/* スライダー全体は横幅いっぱい */
.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    background: $maincolor;
    // padding-inline: 3%;
}

/* カードを入れるレーン */
.swiper-card {
    position: relative;
    /* 子カードを絶対配置するため */
}

/* カード */
.card {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    place-items: center;
    user-select: none;
    will-change: transform;
}

/* タイトル（デフォは重ねる：PC向け） */
.slot-overlay.title {
    position: absolute;
    z-index: 10;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #111;
}

.card:nth-child(1) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgb(102, 164, 189);
}

.card:nth-child(2) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(112, 169, 212, 0.58);
}

.card:nth-child(3) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(119, 174, 93, 0.45);
}

.card:nth-child(4) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(218, 107, 107, 0.58);
}

.card:nth-child(5) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(67, 129, 158, 0.58);
}

.card:nth-child(6) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(54, 98, 194, 0.45);
}

.card:nth-child(7) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(84, 173, 103, 0.58);
}

.card:nth-child(8) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(242, 117, 169, 0.58);
}

.card:nth-child(9) .pickup-link {
    box-shadow: 1rem 1rem 0rem rgba(113, 236, 240, 0.58);
}

@media (max-width: 1056px) {
    .pickup {
        &__title {
            font-size: 3rem;

            &--large {
                font-size: 4rem;
                @include subtitle;
            }
        }
    }
}

/* 768px以下：タイトルは“通常フロー”で上段に置く（＝重ねない） */
@media (max-width: 768px) {
    .swiper.is-mobile .slot-overlay.title {
        position: static;
        pointer-events: auto;
        width: auto;
        height: auto;
        background: transparent;
        box-shadow: none;
        color: #111;
        padding: 8px 12px;
        margin-bottom: 8px;
        /* タイトル下に少し余白 */
        display: block;
        flex-direction: row;
        /* テキストは普通にブロック表示 */
    }

    .pickup__title {
        br {
            display: none;
        }
    }
}

@media (max-width:520px) {

    .card:nth-child(1) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(194, 144, 145, 1));
    }

    .card:nth-child(2) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(101, 172, 228, 0.58));
    }

    .card:nth-child(3) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(82, 155, 156, 0.57));
    }

    .card:nth-child(4) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(144, 124, 233, 0.592));
    }

    .card:nth-child(5) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(101, 172, 228, 0.58));
    }

    .card:nth-child(6) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(119, 174, 93, 0.45));
    }

    .card:nth-child(7) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(228, 242, 117, 0.58));
    }

    .card:nth-child(8) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(228, 242, 117, 0.58));
    }

    .card:nth-child(9) .pickup-link {
        box-shadow: (.5rem .5rem 0rem rgba(228, 242, 117, 0.58));
    }

    .pickup__text {
        font-size: 1.8rem;
        @include underline-hover($height: 1px, );

    }
}

@media (max-width:450px) {
    .pickup__text {
        font-size: 1.5rem;
    }
}

@media (max-width:389px) {
    .pickup__text {
        font-size: 1.2rem;
    }
}

// =============================================== 
// find
// =============================================== 
.find {
    background-color: $maincolor;

    &__wrapper {
        // max-width: 90vw;
        margin-inline: auto;

    }


    &__content {
        padding-block: 8rem;
        transition: transform 0.5s ease;
    }

    &__card {
        margin-right: 3.2rem;
        padding-block: 3.2rem;
        position: relative;
        border-radius: 1.6rem;
        color: $textcolor-sub;
        width: 33.1rem;
        aspect-ratio: 2/ 3;
        /* アスペクト比を維持 */
        background-size: cover;
        background-position: center;

        &-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(30, 58, 64, 0.2); // ← 半透明の幕
            z-index: 1;
            border-radius: 1.6rem;
        }

        &--santorini {
            background-image: url('../img/santorini.webp');
        }

        &--borabora {
            background-image: url('../img/find_borabora.webp');
        }

        &--krabi {
            background-image: url('../img/krabi.webp');
        }

        &--watervilla {
            background-image: url('../img/watervilla.webp');
        }

        &--beach {
            background-image: url('../img/find-beach.webp');
        }

        &--ocean {
            background-image: url('../img/find-ocean.webp');
        }

        &--boat {
            background-image: url('../img/find-boat.webp');
        }

        &-text {
            position: relative;
            color: $textcolor-sub;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &-location {
            font-size: 1.4rem;
        }

        &-place {
            font-size: 1.6rem;
        }

        &-headline {
            padding-block: 2.4rem;
            font-weight: bold;
            font-size: 3.3rem;
            @include heading-sub;
        }

        &-description {
            font-size: 1.6rem;
        }

        &-button {
            position: absolute;
            bottom: 4rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            padding: 0.75rem 2.5rem;
            border-radius: 0.8rem;
            font-size: 1.4rem;
            transition: all 0.3s ease;
            color: $textcolor-sub;

            &--santorini {
                background-color: #135892;
            }

            &--borabora {
                background-color: #0F3802;
            }

            &--krabi {
                background-color: #083E45;
            }

            &--watervilla {
                background-color: #135892;
            }

            &--beach {
                background-color: #135892;
            }

            &--ocean {
                background-color: #557a18;
            }

            &--boat {
                background-color: #104a79;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .find {
        &__card {
            margin-right: 0;
            margin-inline: 1rem;
            margin-bottom: 4rem;
            width: 75vw;
            aspect-ratio: 2/ 3;

            &-headline {
                font-size: 2.4rem;
            }
        }

        &__content {
            padding-block: 0rem;
        }


        &__text {
            font-size: 1.6rem;

        }
    }
}

// =============================================== 
// feature
// =============================================== 
.bg-wrapper {
    position: fixed;
    inset: 0;
    background: linear-gradient(rgba(69, 94, 101, 0.4), rgba(69, 94, 101, 0.4)), url('../../img/krabi.webp');
    // background: linear-gradient(rgba(69, 94, 101, 0.4), rgba(69, 94, 101, 0.4)), url('../../img/scroll(3).webp');
    background-size: cover;
    background-position: center 0%;
    background-color: $backgroundbler;
    z-index: -1;
    will-change: background-position;
}

.feature {
    /* スクロール量を確保（3画面ぶん） */
    min-height: 300vh;
    // background: #000;
    /* 画像の読み込み中に黒で埋める */
    position: relative;


    &__content {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }

    &__card {
        display: flex;
        align-items: center;
        max-width: min(1000px, 90vw);
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 2rem;
        padding: 6rem 10rem;
        line-height: 1.65;
        backdrop-filter: blur(6rem);
        -webkit-backdrop-filter: blur(6rem);
    }

    &__img {
        width: 20rem;
        height: 20rem;
        margin-right: 8rem;
    }

    &__heading {
        font-size: 4rem;
        @include heading-bold;

        margin-bottom: 2rem;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 5rem;
    }
}

@media screen {

    @media (max-width: 768px) {


        .feature {
            min-height: 240vh;

            &__card {
                padding: 2.4rem;
                flex-direction: column;
                align-items: center;
            }

            &__img {
                width: 10rem;
                height: 10rem;
                margin-bottom: 2rem;
                margin-right: 0;
            }

            &__heading {
                font-size: 2.4rem;
                text-align: center;
            }

            // &__textbox {
            //     text-align: center;
            // }

            &__text {
                font-size: 1.4rem;
                line-height: 3rem;
            }

            &__content {
                min-height: 80vh;
            }
        }
    }
}